In [ ]:
import numpy as np
import pandas as pd

In [ ]:
with open('data/BLS/all_industries_unemployment_rate.csv') as f:
    all_industries = pd.read_csv(f)

In [ ]:
all_industries.head(10)

In [ ]:
all_industries.columns

In [ ]:
all_industries.dtypes

In [ ]:
all_industries["Year"].drop_duplicates()

In [ ]:
nys_df = pd.read_csv("data/BLS/nys_unemployment_rate.csv")

In [ ]:
nys_df.head(10)

In [ ]:
# print(nys_df.dtypes)

# print(nys_df["Year"].drop_duplicates())

In [ ]:
# # create a new column, Month, which extracts the month number from the Period column
# all_industries["Month"] = all_industries["Period"].str[-2:]

# # join the Year and Month columns
# # by casting the columns to strings inside a lambda function, and joining with "-" using the .join method
# all_industries["YYYY-MM"] = all_industries.apply(lambda x: "-".join([str(x["Year"]), str(x["Month"])]), axis=1)

# # create a Date column with the YYYY-MM strings converted to datetime
# all_industries["Date"] = pd.to_datetime(all_industries["YYYY-MM"], format="%Y-%m")

# # convert Date from pd.datetime to Period
# all_industries["Date"] = all_industries["Date"].dt.to_period(freq="Q")

# # drop the unnecessary columns
# all_industries_clean = all_industries.drop(columns=["Series ID", "Period", "Label", "YYYY-MM", "Year", "Month"])

# # group by Period
# all_industries_gob = all_industries_clean.groupby("Date")

# # calculate the mean unemployment rate for each quarter
# all_industries_quarterly_ue = all_industries_gob.mean()

# print(all_industries_quarterly_ue)

In [ ]:
# create a new column, Month, which extracts the month number from the Period column
all_industries["Month"] = all_industries["Period"].str[-2:]
all_industries

In [ ]:
# join the Year and Month columns into a new YYYY-MM column
# by casting the columns to strings inside a lambda function, and joining with "-" using the .join method
all_industries["YYYY-MM"] = all_industries.apply(lambda x: "-".join([str(x["Year"]), str(x["Month"])]), axis=1)
all_industries

In [ ]:
# create a Date column with the YYYY-MM strings converted to pd.datetime
all_industries["Date"] = pd.to_datetime(all_industries["YYYY-MM"], format="%Y-%m")
all_industries

In [ ]:
# convert Date from pd.datetime to Period with frequency set to quarterly
all_industries["Date"] = all_industries["Date"].dt.to_period(freq="Q")
all_industries

In [ ]:
# drop the unnecessary columns
all_industries_clean = all_industries.drop(columns=["Series ID", "Period", "Label", "YYYY-MM", "Year", "Month"])
all_industries_clean

In [ ]:
# group by Period
all_industries_gob = all_industries_clean.groupby("Date")
all_industries_gob

In [ ]:
# calculate the mean unemployment rate for each quarter
all_industries_quarterly_ue = all_industries_gob.mean()
all_industries_quarterly_ue

In [ ]:
all_industries_quarterly_ue.rename(columns = {'Value':'Unemployment Rate'}, inplace = True)
all_industries_quarterly_ue

In [ ]:
# show the quarterly unemployment rates for 2020-2021
all_industries_quarterly_ue.tail(8)

In [ ]:
all_industries_quarterly_ue.dtypes

In [ ]:
# create a new column, Month, which extracts the month number from the Period column
nys_df["Month"] = nys_df["Period"].str[-2:]
nys_df["YYYY-MM"] = nys_df.apply(lambda x: "-".join([str(x["Year"]), str(x["Month"])]), axis=1)
nys_df["Date"] = pd.to_datetime(nys_df["YYYY-MM"], format="%Y-%m")
nys_df["Date"] = nys_df["Date"].dt.to_period(freq="Q")

# drop unnecessary columns
nys_clean = nys_df.drop(columns=["Series ID", "Period", "Label", "YYYY-MM", "Year", "Month"])

# group by Period
nys_gob = nys_clean.groupby("Date")
nys_quarterly_ue = nys_gob.mean()
print(nys_quarterly_ue)

In [ ]:
nys_quarterly_ue.tail(8)

In [ ]:
# dates = nys_clean["Date"]
test_periods = pd.PeriodIndex(year=[2002]*4, quarter=[1,2,3,4])
print(test_periods)
print(nys_quarterly_ue.loc[test_periods])

In [ ]:
with open("data/BLS/cali_unemployment_rate.csv") as f:
    cali_df = pd.read_csv(f)
len(cali_df["Year"])

In [ ]:
with open("data/BLS/tennessee_unemployment_rate.csv") as f:
    tennessee_df = pd.read_csv(f)
len(tennessee_df["Year"])

In [ ]:
with open("data/BLS/georgia_unemployment_rate.csv") as f:
    georgia_df = pd.read_csv(f)
len(georgia_df["Year"])

In [ ]:
with open("data/BLS/minnesota_unemployment_rate.csv") as f:
    minnesota_df = pd.read_csv(f)
len(minnesota_df["Year"])

In [ ]:
with open("data/BLS/florida_unemployment_rate.csv") as f:
    florida_df = pd.read_csv(f)
len(florida_df["Year"])

In [ ]:
with open("data/BLS/idaho_unemployment_rate.csv") as f:
    idaho_df = pd.read_csv(f)
len(idaho_df["Year"])

In [ ]:
with open("data/BLS/iowa_unemployment_rate.csv") as f:
    iowa_df = pd.read_csv(f)
len(iowa_df["Year"])

In [ ]:
with open("data/BLS/illinois_unemployment_rate.csv") as f:
    illinois_df = pd.read_csv(f)
len(illinois_df["Year"])

In [ ]:
with open("data/BLS/washington_unemployment_rate.csv") as f:
    washington_df = pd.read_csv(f)
len(washington_df["Year"])

In [ ]:
with open("data/BLS/virginia_unemployment_rate.csv") as f:
    virginia_df = pd.read_csv(f)
len(virginia_df["Year"])

In [ ]:
with open("data/BLS/texas_unemployment_rate.csv") as f:
    texas_df = pd.read_csv(f)
len(texas_df["Year"])

In [ ]:
with open("data/BLS/maryland_unemployment_rate.csv") as f:
    maryland_df = pd.read_csv(f)
len(maryland_df["Year"])

In [ ]:
#import matplotlib.pyplot as plt